.site-calendar {
    padding: $section-padding 0;

    #events {
        &-calendar {
            margin: 0 auto;
            width: max-content;
        }
        .title, .subtitle {
            padding: 5px 0px;
            text-align: center;
        }
        .title {
            font-weight: bold;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }
        .subtitle {
            font-size: 14px;
            color: #888;
        }
        .list {
            height: 250px;
            overflow-y: auto;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            .event-item {
                line-height: 24px;
                min-height: 24px;
                padding: 2px 5px;
                border-top: 1px solid rgba(0, 0, 0, 0.2);
                .close {
                    font-family: Tahoma, Geneva, sans-serif;
                    font-weight: bold;
                    font-size: 12px;
                    color: #000;
                    border-radius: 8px;
                    height: 14px;
                    width: 14px;
                    line-height: 12px;
                    text-align: center;
                    float: right;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    padding: 0px;
                    margin: 5px;
                    display: block;
                    overflow: hidden;
                    background: #F44336;
                    cursor: pointer;
                }
            }
        }
        .action {
            text-align: right;
            input {
                padding: 0px 5px;
                font-size: 12px;
                margin: 10px 5px;
                border: 1px solid #999999;
                height: 28px;
                line-height: 28px;
                width: 120px;
                background: #f8f8f8;
                color: black;
                cursor: pointer;
                transition: all 0.2s;
                &:hover {
                    background: #eee;
                    border: 1px solid #000;
                    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}