.site-client{
  padding: $section-padding 0 50px;
  .section-title{
    margin-bottom: $section-padding;
  }
  &-wrapper{
    display: flex;
    flex-wrap: wrap;
    @include desktop{
      justify-content: center;
    }
  }
  &-item{
    text-align: center;
    width: 20%;
    margin-bottom: 50px;
    @include desktop{
      width: 33.33%;
    }
    @include mobile{
      width: 50%;
    }
  }
}