.site-hero{
  position: relative;
  height: calc(100vh - #{$navbar-padding});
  // Avoid absurdly small hero landing section
  min-height: 600px;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  // @include desktop{
  //   height: auto;
  //   padding: 200px 0;
  // }
  @include mobile{
    padding: $section-padding-mobile 0;
  }
  &-content{
    svg{
      margin-bottom: 10vh;
      width: 80%;
      height: auto;
      // avoid navbar overlapping with logo
      max-height: Max(calc(100vh - 400px), 200px);
      path {
        stroke: #fff;
        stroke-width: .5px;
        stroke-linejoin: round;
      }
    }
    h1, h2, h3, h4, h5, h6{
      color: $text-color-dark;
      background-color: white;
    }
    h1{
      margin-bottom: Min(60px, 20vh);
      @include desktop-lg{
        font-size: 50px;
        margin-bottom: Min(50px, 20vh);
      }
      @include mobile{
        font-size: 40px;
      }
    }
    &-buttons{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        @include mobile{
          display: block;
        }
        &:not(:last-child){
          margin-right: 30px;
          @include mobile{
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        .btn{
          font-weight: 600;
          @include mobile{
            width: 90%;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
  &-scroll{
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    @media screen and (max-height: 900px) {
      // avoid arrow overlapping buttons
      display: none;
    }
  }
}