.site-testimonial{
  background: $gray;
  padding: 100px 0;
  overflow: hidden;
  h1, h2, h3, h4, h5, h6, p{
    color: $text-color-light;
  }
  &-bg{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-item{
    // background: $white;
    background-color: #ffffff13;
    padding: 30px;
    margin: 30px 60px;
    transition: all 0.3s ease-in;
    backdrop-filter: blur(10px) brightness(60%);
    &.active{
      box-shadow: 0px 30px 45px 0px rgba(0, 0, 0, 0.05);
    }
    &.inactive{
      opacity: 0.3;
      backdrop-filter: none;
    }
    &-header{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .thumb{
        width: 80px;
        img{
          width: 100%;
        }
        margin-right: 15px;
      }
      .person{
        h5{
          margin-bottom: 5px;
        }
        p{
          margin-bottom: 0;
        }
      }
    }
    &-body{
      margin-bottom: 0;
      font-weight: 300;
    }
  }
}