{{ with .Site.Params.calendar }}
  {{ if .enable }}
  <section class="site-calendar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>
              {{ .title }}
            </h2>
            <p>
              {{ .subtitle }}
            </p>
          </div>
          <!-- Calendar Wrapper -->
          <div class="container row">
            <!-- Calendar element -->
            <div class="col-lg-6 col-md-12">
              <div id="events-calendar"></div>
            </div>
            <!-- Events -->
            <div id="cal-events" class="col-lg-6 col-md-12"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}