{{ with .Site.Params.call_to_action }}
  <section class="site-cta" style='background-image: url("{{ .background_image | absURL }}");'>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="site-cta-title">{{ .title }}</h1>
          <ul class="site-cta-buttons">
            <li>
              <a href="{{ .primary_button_url | absURL }}" class="btn btn-primary">
                <span class="btn-area">
                  <span data-text="{{ .primary_button }}">
                    {{ .primary_button }}
                  </span>
                </span>
              </a>
            </li>
            <!-- <li>
              <a href="{{ .secondary_button_url | absURL }}" class="btn btn-secondary">
                <span class="btn-area">
                  <span data-text="{{ .secondary_button }}">
                    {{ .secondary_button }}
                  </span>
                </span>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ end }}