{{ with .Site.Params.events }}
<section class="site-project" id="events">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{ .title }}</h2>
          <p>{{ .subtitle }}</p>
        </div>
      </div>
      {{/* Merge all pages no matter the translation, should probs be in the head.html */}}
      {{ $pages := $.Site.RegularPages }}
      {{ range $.Site.Home.Translations }}
      {{ $pages = $pages | lang.Merge .Site.RegularPages }}
      {{ end }}
      {{ $datefmt := .datefmt }}
      {{ range first 4 (where $pages "Type" "events" ) }}
      <div class="col-lg-3 col-md-4 mx-auto">
        <div class="site-project-item">
          <div class="site-project-item-thumb" style="background-image: url('{{ .Params.Image | absURL }}');">
            <!-- <img src="{{ .Params.Image | absURL }}" alt="project-thumb"> -->
            <div class="site-project-item-content">
              <span class="date">{{ .Date | time.Format $datefmt }}</span>
              <span>{{ delimit .Params.category ", " }}</span>
              <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      <div class="col-12 text-center text-lg-left">
        <a href="portfolio" class="site-project-cta">MORE EVENTS</a>
      </div>
    </div>
  </div>
</section>
{{ end }}