{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}
  <section class="site-hero" style="background-image: url('{{ .background_image | absURL }}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="site-hero-content text-center">
            {{ if strings.HasSuffix .logo "svg" }}
              <!-- Inject the SVG element, repeat from navbar -->
              {{ warnf "Path %s" .logo }}
              {{ path.Join "static" .logo | readFile | safeHTML }}
            {{ else }}
            <img src="{{ .logo | absURL }}" alt="logo">
            {{ end }}
            {{ with $.Site.Params.banner_txt }}
            <h1>
              {{ .heading }}
            </h1>
            <ul class="site-hero-content-buttons">
              <!-- Primary button -->
              <li>
                <a href="{{ .primary_button_url | absURL }}" class="btn btn-primary">
                  <span class="btn-area">
                    <span data-text="{{ .primary_button }}">
                      {{ .primary_button }}
                    </span>
                  </span>
                </a>
              </li>
              <!-- Other buttons can be added by copying the primary -->
            </ul>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <a href="#events" class="site-hero-scroll scroll-to">
      <img src="{{ .down_arrow | absURL }}" alt="arrow-down">
    </a>
  </section>
  {{ "<!-- Site Hero End -->" | safeHTML }}
  {{ end }}
{{ end }}