{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}</h4>
<ul>
  {{ range .Translations }}
  <li>
    <a href="{{ .Permalink }}">{{ emojify .Site.Params.languageIcon }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}