{{ with .Site.Data.testimonial }}
  {{ if .enable }}
  <section class="site-testimonial site-testimonial-bg" style="background-image: url('https://theotowngarage.com/wp-content/uploads/2021/03/woodwork2.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>
              {{ .title }}
            </h2>
            <p>
              {{ .subtitle }}
            </p>
          </div>
        </div>
        {{ range .testimonial_item }}
        <div class="col-lg-6 col-md-12">
          <div class="site-testimonial-item">
            <div class="site-testimonial-item-header">
              <div class="person">
                <h5>{{ .name }}</h5>
                <p>{{ .company_position }}</p>
              </div>
            </div>
            <p class="site-testimonial-item-body">
              {{ .quote }}
            </p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}